#' ---
#' title:  '{{title}}'
#' author: '{{author}}'
#' date:   '{{date}}'
#' ---

sourceTargetsScripts <- function() {
  sourceFiles <- list.files(
    here::here("R"), pattern = "^[0-9]{2}", full.names = TRUE
  )

  if (length(sourceFiles)) {
    cat(
      "Loading source files: ",
      paste0(basename(sourceFiles), collapse = ", "), "\n"
    )
    targets::tar_source(sourceFiles)
  }
}

view_df <- function(x,
                    name = deparse(substitute(x)),
                    file = "dt_viewer.html") {
  widget <- DT::datatable(
    x,
    options = list(autoWidth = TRUE),
    filter  = list(position = "top", clear = FALSE)
  )

  htmlwidgets::saveWidget(
    widget,
    file,
    selfcontained = FALSE,
    libdir        = paste0(tools::file_path_sans_ext(file), "_files"),
    title         = paste("DT:", name)
  )

  browseURL(normalizePath(file))
}
