#' ---
#' title:  '{{title}}'
#' author: '{{author}}'
#' date:   '{{date}}'
#' ---

#' ### 0. Prepare environment

#+ setup, message = FALSE, results = FALSE
library(targets)
library(tarchetypes)

source(here::here("R", "packages.R"))
source(here::here("R", "utils.R"))

# After changing targetPackages in R/packages.R, rerun
# targets::tar_renv(extras = character()) before taking the next renv snapshot.

tar_option_set(
  packages   = targetPackages,
  format     = "parquet",
  controller = crew::crew_controller_local(workers = {{target-workers}})
)

sourceTargetsScripts()

c(targets_01_prepareData, targets_02_computeResults)
